.container78 {
	width: 100%;
	display: flex;
	cursor: pointer;
	height: 100vh;
	overflow: hidden;
	top: 50%;
	left: 50%;
}
.container1 {
	padding: 100px;
	width: 50%;
	margin-top: 60px;
}
.container2 {
	width: 50%;
	background-color: #e3effd;
}
.container2 img {
	/* min-width: 70%;
	max-width: 50%;
	width: 70%; */
	margin: 70px auto;
	padding-left: 5%;

	background-color: #e3effd;
}
.container1 h1 {
	color: #345782;
	font-weight: 500;
	margin-bottom: 10px;
	font-size: 40px;
}
.container1 p {
	margin-top: auto;
	margin-bottom: 30px;
}
.inputs {
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	width: 90%;
	padding: 5px 10px;
	gap: 10px;
	border-radius: 10px;
}

.inputs .image-div {
	width: 10%;
	border-right: 1px solid #ccc;
}

.inputs .input-div {
	width: 70%;
	position: relative;
}

.input-div input {
	border: none;
	outline: none;
	padding: 5px 30px;
	width: 100%;
	font-size: 18px;
}

/* .inputs:hover {
	border: 2.28px solid #0000FF;
}
*/

.button-con2 button {
	color: #fff;
	background: #345782;
	border-radius: 10.99px;
	font-size: 17.95px;
	font-weight: 400;
	cursor: pointer;
	border: none;
	padding-left:35px;
	padding-right:30px ;
	padding-top: 20px;
	padding-bottom: 40px;
	/* margin-left: 150px;  */
	height: 50px;
	width: 400px;
	display: flex;
	flex-direction: row;
}
.button-con2 {
	margin-top: 20px;
}
.button-con2 button .loader { /* Add space between button and loader */
	margin-left: 20px;
  }
  .text-loader{
	display: flex;
	margin-left: 150px;
  }

.button-con button {
	color: #fff;
	background: #345782;
	border-radius: 10.99px;
	font-size: 17.95px;
	font-weight: 400;
	cursor: pointer;
	border: none;
	padding: 10px 20px;
	/* margin-left: 150px; */
	height: 50px;
	width: 400px;
}
.button-con {
	margin-top: 20px;
}
.hiddenPassword {
	position: absolute;
	top: 12px;
	color: #ccc;
	margin-left: 12px;
}
.forgot-password a{
	text-decoration: none;
	color: #345782 ;
	font-size: 15px;
	line-height: 24.91px;
}
.Head-text{
	margin-left: 2px;
	margin-top: 18px;
}