
.searchbar {
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 5px;
    display: flex;
    background-color: #f0f0f0ed;
    height: 2em;
    flex-direction: row;
	outline: none;
    width: 98%;
    margin-left: 5px;

}

#search-icon {

 	display: flex;
	margin-top: 7px;
	justify-content: end;
}

.input2 {
	border: none;
	background-color: transparent;
 	height: 100%;
	font-size: 1rem;
	width: 90%;
	outline: none;
 }

.input:focus {
	outline: none;
}

.table-title {
	/* padding-top: 6em 0em; */
	background-color: #e3effd;
	margin-top: 1em;
	width: 100%;
}

.table-content {
	margin-top: 2em;
	padding-left: 2em;
}

tr:nth-child(even) {
	background-color: #3457820d;
}

.outlet-container {
	height: 100vh;
	max-height: 100vh;
	overflow: scroll;
	width: 100%;
}

.table-container {
	border: 2px;
	background: white;
	margin:0% 5%;;

	border-radius: 10px;
	padding-top: 5px;
	padding-left: 40px;
	padding-right: 40px;
	overflow: hidden;
	margin-top: 3em;
}

.logOutIcon {
	margin-top: 15em;
	text-decoration: none;
	height: 24px;
	padding: 4px 6px 3px 4px;
	gap: 10px;
	opacity: 0.7px;
	color: rgb(164, 12, 12);
}
.user-icon {
	font-size: 35px;        
	color: #345782;       
	background-color: #ccc; 
	border-radius: 50%;   
	padding: 8px;          
	display: inline-block;
  }
  
table,
th,
td {
	border-collapse: separate;
	padding: 0.5rem 1.5rem;
}
table {
	width: 100%;
	border-spacing: 0 10px;
	padding-right: 17px;
    padding-left: revert-layer;
}
thead tr {
	background-color: #e3effd;
}
th {
	color: #8d8d8d;
	font-weight: 700;
	text-align: left;
}
.cells-icon{
	text-align: right;
}

.cells-Name {
	color: #000000;
}
.cells-staffID {
	color: #000000;
}
.cells-CheckIn {
	color: #345782;
}
.cells-CheckOut {
	color: #345782;
}
.cells-location {
	color: #000000;
}
.tbody {
	padding-left: 10px;
}
