.table-ccontainer {
	border: 2px;
	background: white;
	height: 100%;
	width: 80%;
	margin-left: 5em;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 40px;
	padding-right: 30px;
	overflow: hidden;
	margin-top: 3em;
}
.searchbar {
	border-radius: 5px;
	width: 70px;
	flex-direction: column;
	border: 1px solid #f0f0f0ed;
	align-items: center;
	display: flex;
	background-color: white;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1.7em;
	height: 30px;
}
#search-icon {
	margin-left: 70px;
	display: flex;
}
table {
	font-size: 11px;
	font-weight: 300;
}
table,
tbody,
td {
	border-collapse: separate;
	padding: 0.5rem 1.5rem;
}
tr:nth-child(even) {
	background-color: #3457820d;
}
.sen3 button {
	width: 100%;
	background: #345782;
	border: none;
	color: white;
	padding: 8px 25px;
	border-radius: 10px;
}
.sen4 button {
	border: none;
	background: transparent;
	color: red;
}
.modal h6 {
	font-weight: 500;
	font-size: 16.29px;
}
.e-inputs {
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	width: 297px;
	padding: 4px 10px;
	gap: 10px;
	border-radius: 10px;
}
.e-inputs .imgeDiv {
	width: 14%;
	border-right: 1px solid #ccc;
}
.e-inputss .inpuDiv {
	width: 70%;
	position: relative;
}
.inpuDiv input {
	border: none;
	outline: none;
	padding: 10px 15px;
	width: 100%;
	font-size: 18px;
}
.hidddePassword {
	position: absolute;
	color: #ccc;
}
.passreset {
	text-align: center;
}
.modal notification {
	padding: 64px 135px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.passreset h6 {
	font-size: 16px;
	font-weight: 500;
	/* padding-top: 10px; */
	margin-bottom: 20px;
}
.passreset p {
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 40px;
}
.profile {
	display: flex;
	gap: 10px;
	border: 1px solid red;
	width: fit-content;
}
.userp {
	font-size: 10px;
	display: flex;
}
.userpro {
	border-right: 1px solid grey;
}

.usertitle {
	font-size: 8px;
}
.buts {
	display: flex;
	gap: 60px;
}
.proceed {
	padding: 10px 50px;
	background-color: #345782;
	color: white;
	border: none;
	border-radius: 8px;
}
.cancel {
	border: none;
	background: none;
	color: #9f0000;
}
.inpoDiv {
	width: 60%;
	position: relative;
	height: 1vh;
}
.inpoDiv input {
	border: none;
	outline: none;
}
.sub-card {
	display: flex;
	flex-direction: column;
	border: 1px solid blue;
	gap: 0.5em;
	padding-left: auto;
	padding-right: auto;
}

.usertitle {
	border: 1px solid yellow;
	margin-top: auto;
	margin-bottom: auto;
}
